/* header nav logo and menu styles */
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    background: rgba(255, 144, 14, 0.10);
    padding-bottom: 10px;
}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    /* background-color:rgba(25, 86, 78, 0.9); */

}
.logo{
    font-size: 45px;
    font-weight: 700;
    color:rgba(85, 0, 70, 0.9);
}
/* brand header styles */

.brand-section{
text-align: center;
padding-top: 50px;
}
.brand-text{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
}
.header-title{
    font-size: 45px;
    font-weight: 700px;
}
.header-des{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}
.header-button{
    padding: 10px;
}
.header-button button{
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400px;
    color: white;
    background-color: #FF900E;
}
.header-image img{
    width: 800px;
    height: 400px;

}